

.list{
    display: flex;
    flex-direction: row;   
    margin-bottom: 20px;
}

.list_item{
    list-style-type: none;    
}

.item_radio{
    display: none;
}

.item_radio_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;  
    font-size: 15px;
    line-height:2px;
    border-radius:50%;
    background-color: rgb(244, 244, 244);
    margin-right: 10px;
}

.item_radio:checked+.item_radio_text{
    color: white;
    background-color: green;
}

.item_radio:hover+.item_radio_text{
    color: white;
    background-color: green;
}