@import "./../varibles.scss";

.h1{
    width: 100%;
    color: $Head-Foot-text-color;
    background-color: $Head-Foot-color;
    padding: 10px 10px 20px;
    font-size: 25px;
    text-align: center;
}

